<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="angular.js"></script>
</head>
<body>
	<code>模型应用</code>
	</br>

	<!-- <div ng-app="myApp" ng-controller="myConTroller">
	
		<input type="text" ng-model='name'>
		
	</div> -->
	<script>
		
	// var app=angular.module('myApp',[])

	// app.controller('myConTroller',function($scope){

	// 	$scope.name='yanghuaizhi'

	// })

	</script>


	<!-- <div ng-app='dbApp' ng-controller='bdAppCon'>
			
		<input type="text" ng-model='nname'>
		你输入了：{{nname}}
	
	</div> -->

	<script>
			
	/*	var dbApp=angular.module('dbApp',[]);
		dbApp.controller('bdAppCon',function($scope){

			$scope.nname='yanghuaizhi';

		})
*/

	</script>

	(<!--邮箱验证-->)
	
	<form ng-app="" name='yanghuaizhi'>
			
			<input type="email" name='wangerya' ng-model='text'>
			<span ng-show='yanghuaizhi.wangerya.$error.email'>您输入的地址不正确，请重新输入</span>


	</form>
	


</body>
</html>